@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.store {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding: 15px;
}

.material-icons {
  display: block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  text-align: right;
  margin-right: 0;
  margin-left: auto;
}

.material-icons:hover {
  cursor: pointer;
}

.cards-view {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.cards-view__card {
  width: 300px;
  background-color: rgb(247, 245, 245);
}

.name {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.color {
  text-align: center;
  color: grey;
}

image {
  width: 100%;
}

